@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

body{
    font-family: 'Lato', sans-serif !important;
}
img{
    width: 100%;
    height: 100%;
}
.img-produit{
    width: 750px;
    height: 750px;
}
.img-logo{
    width: 50px;
    height: 50px;
}
.calligraphy{
    font-family: 'Merienda', cursive;
}

.bg-white-purple{
    background-color: rgb(243, 233, 241);
}
.logo-add-panier{
    width: 30px;
    height: 30px;
    display:none;
}
@media screen and (max-width: 576px){
    .logo-add-panier{
        display: flex;
    }
    .text-add-panier{
        display: none;
    }
}
.visi{
    display: none;
}